<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <script type="importmap">
        {
          "imports": {
            "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
          }
        }
    </script>

    <div id="listaUsuarios">

        <fieldset v-if="!logeado">
            <label>Email:</label>
            <input v-model="email" placeholder="Email">
            <label>Password:</label>
            <input v-model="password" placeholder="Password" type="password">
            <button @click="login">Acceder</button>
        </fieldset>

        <div v-if="logeado">
            <h1>¡Bienvenido, {{ usuarioActual.email }}!</h1>
        </div>

        <div v-if="mensaje">
            <h3>{{ mensaje }}</h3>
        </div>
    </div>
    
    <script type="module">
        import { createApp, ref } from 'vue';

        const app4 = createApp({
            setup() {
                let email = ref('');
                let password = ref('');
                let mensaje = ref('');
                let logeado = ref(false);
                let usuarioActual = ref({});

                const login = async () => {
                    try {
                        const response = await fetch('users.json');
                        const users = await response.json();
                        const usuarioValido = users.find(user => user.email === email.value && user.password === password.value);

                        if (usuarioValido) {
                            logeado.value = true;
                            usuarioActual.value = usuarioValido;
                        } else {
                            mensaje.value = 'Email o contraseña incorrectos.';
                        }

                        email.value = '';
                        password.value = '';
                    } catch (error) {
                        mensaje.value = 'Error al verificar el usuario.';
                    }
                };

                return { email, password, mensaje, logeado, usuarioActual, login };
            }
        });

        app4.mount('#listaUsuarios');
    </script>
</body>
</html>
